{% extends 'base.html' %}
{% load static %}

{% block site_links %}
    <style>

        #map {
            height: 50%;
            width: 50%;
            margin: auto auto;
          }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
    </style>
{% endblock %}

{% block site_main %}
    <h3>My Google Maps Demo</h3>

    <div id="map"></div>
{% endblock %}

{% block site_scripts %}
    <script src="{% static 'location_app/js/map_script_setup.js' %}"></script>
    <script src="{% static 'location_app/js/load_map_and_markers.js' %}"></script>
{% endblock %}
