{% extends 'base.html' %}
{% load static %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'auth/auth_forms.css' %}">
{% endblock %}

{% block site_main %}

    <div class="container-fluid d-flex align-items-center justify-content-center"
            {#        {{ form }}#}

         style="height: 100vh;">
        <div class="row w-100 h-100">
            <!-- Left Column: Form -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100%;">
                <div class="auth-form" id="authForm">
                    <form method="POST">
                        {% csrf_token %}
                        <h2>Sign Up</h2>
                        <p class="pb-2">You already have an account? <a href="{% url 'sign_in' %}">Sign In</a></p>

                        <ul class="errorlist pb-2">
                            {% for error in form.non_field_errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>

                        <ul>
                            {% for error in form.email.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <div class="form-group position-relative mb-4">
                            <i class="fas fa-envelope position-absolute" style="left: 12px; top: 16px;"></i>
                            {{ form.email }}
                        </div>

                        <ul>
                            {% for error in form.password.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <div class="form-group position-relative mb-4">
                            <i class="fas fa-lock position-absolute" style="left: 12px; top: 16px;"></i>
                            {{ form.password.error }}
                            {{ form.password }}
                        </div>

                        <ul>
                            {% for error in form.confirm_password.errors %}
                                <ul>
                                    <li class="error">{{ error }}</li>
                                </ul>
                            {% endfor %}
                        </ul>
                        <div class="form-group position-relative mb-4">
                            <i class="fas fa-lock position-absolute" style="left: 12px; top: 16px;"></i>
                            {{ form.confirm_password }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                    </form>
                </div>
            </div>

            <!-- Right Column: Image -->
            <div class="col-md-6 p-0 d-flex align-items-center image-container" style="height: 100%;">
                <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     alt="No image" class="img-fluid w-100 h-100" style="object-fit: cover;">
            </div>

        </div>
    </div>
{% endblock %}
